@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>

<p>This is a simple C# MVC Core Web Application designed to make calls to the Transport
    for London Unified API and display the results. </p>