@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>

<address>
    <strong>Support, ideas and feedback:</strong> <a href="mailto:timgrayson85@gmail.com">timgrayson85@gmail.com</a><br />
</address>
