
@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-body">
        <h2>Welcome to the TFL Data Explorer</h2>
        <h4>A C# .NET Core MVC Web Application for exploring data from the Transport for London Unified API. .</h4>
        <p>Get started by clicking Tube to get the current status of Tube lines and details of any delays.</p>
        <p>Click Air Quality to get the current and forecasted air quality in Lodnon including details of pollutant levels.</p>
        <p>Click Stations to find details of facilities available at all TFL managed stations.</p>
</div>
