@using TFLDataExplorer.Models;
@model List<Line>

@{
    ViewData["Title"] = "Live DLR Status";

    var style = "well";
}



@foreach (var item in @Model)
{

    @if (item.name == "DLR")
    {
        style = "dlr-label";
    }
 
    else
    {
        style = "well";
    }


    <div class="row">
        <div class="col-sm-3">
            <div class="@style">
                <p>@item.name</p>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                @foreach (var status in @item.lineStatuses)
                {
                    <p>@status.statusSeverityDescription</p>
                }
            </div>
        </div>
    </div>
}


